/******************************************************************************************
*******************************************************************************************
** Name: addNotesError.css													           ****
** Purpose: Provides style sheet for "addNotesError.php"					   	       ****
** Author: Rhys Hall																   ****
** Date Created: 09/05/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#notes-length-message #exclamation-mark 
{
	padding-right: 18px;
}

#notes-length-message
{
	margin-top: 60px;
	margin-left: 94px;
	margin-right: 94px;
	margin-bottom: -31px;
	font-family: sans-serif;
	font-size: 14px;
}

#notes-length-message p 
{
	color: #ffffff;
	background-color: #ff3333;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 1px;
	border-radius: 3px;
}
