/******************************************************************************************
*******************************************************************************************
** Name: addRecipeNotes.css													   		   ****
** Purpose: Provides style sheet for "addRecipeNotes.php"					   	       ****
** Author: Rhys Hall																   ****
** Date Created: 06/04/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

#title p 
{
	padding-top: 18px;
	font-size: 16px;
	font-family: sans-serif;
	color: #e62e00;
	text-align: center;
}

#sub-title p 
{
	padding-top: 15px;
	margin-bottom: 36px;
	font-size: 14.5px;
	font-family: sans-serif;
	text-align: center;
}

#bar
{
	margin-left: 374px;
	margin-bottom: 60px;
	width: 450px;
}

#blue-bar 
{
	width: 100%;
}

#notes-box
{
	width: 632px;
	margin-left: 279.5px;
	background-color: #f2f9f9;
	border-style: ridge;
	border-left-width: 3px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-color: #f2f2f2;
}

#notes-instructions-1 
{
	font-family: sans-serif;
	padding-top: 27px;
	text-align: center;
	font-size: 13.5px;
	color: grey;
}

#notes
{
	padding-top: 40px;
	padding-bottom: 22px;
}

#notes-title
{
	color: #808080;
	font-size: 13.5px;
	padding-left: 100px;
}

#notes-field
{
	height: 214px;
	width: 444px;
	font-size: 13.5px;
	color: #808080;
	background-color: #f9f9f9;
	margin-left: 94px;
}

#submit
{
	padding-top: 81px;
	text-align: center;
}

#submit-button
{
	height: 34px;
	width: 210px;
	font-size: 15px;
	box-shadow: 1px 1px 2.5px #29a329;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}
