/******************************************************************************************
*******************************************************************************************
** Name: addRecipePhoto.css															   ****
** Purpose: Provides style sheet for "addRecipePhoto.php"					   		   ****
** Author: Rhys Hall																   ****
** Date Created: 03/20/2017														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0%;
	padding: 0%;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

#title p 
{
	padding-top: 18px;
	font-size: 16px;
	font-family: sans-serif;
	color: #e62e00;
	text-align: center;
}

#sub-title p 
{
	padding-top: 15px;
	margin-bottom: 36px;
	font-size: 14.5px;
	font-family: sans-serif;
	text-align: center;
}

#bar
{
	margin-left: 374px;
	margin-bottom: 36px;
	width: 450px;
}

#blue-bar 
{
	width: 29%;
}

#panel
{
	margin-top: 45px;
	margin-left: 310px;
	margin-right: 310px;
	background-color: #f3fcf9;
	border-style: ridge;
	border-left-width: 3px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-color: #f2f2f2;
}

#photo-instructions
{
	padding-top: 32px;
}

#photo-instructions p 
{
	font-family: sans-serif;
	text-align: center;
	color: grey;
	font-size: 13.5px;
}

#tip 
{
	margin-top: 68px;
	margin-left: 149px;
}

#lightbulb
{
	height: 26px;
	width: 26px;
	margin-top: 2px;
	float: left;
}

#tip p
{
	padding-top: 12px;
	padding-left: 8px;
	font-size: 13px;
	color: grey;
	float: left;
}

#clear-float1
{
	clear: both;
}

#recipe-image
{
	padding-top: 48px;
	padding-left: 243px;
	padding-bottom: 29px;
}

#photo-icon 
{
	font-size: 80px;
	cursor: pointer;
}

#recipe-image-field
{
	font-size: 13px;
}

#next
{
	padding-top: 78px;
	text-align: center;
}

#next-button
{
	height: 30px;
	width: 110px;
	font-size: 14.5px;
	box-shadow: 1px 1px 2.5px #e65c00;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}
