/******************************************************************************************
*******************************************************************************************
** Name: addRecipeDirections.css													   ****
** Purpose: Provides style sheet for "addRecipeDirections.php"					   	   ****
** Author: Rhys Hall																   ****
** Date Created: 07/05/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0%;
	padding: 0%;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

#title p 
{
	padding-top: 18px;
	font-size: 16px;
	font-family: sans-serif;
	color: #e62e00;
	text-align: center;
}

#sub-title p 
{
	padding-top: 15px;
	margin-bottom: 36px;
	font-size: 14.5px;
	font-family: sans-serif;
	text-align: center;
}

#bar
{
	margin-left: 374px;
	margin-bottom: 36px;
	width: 450px;
}

#blue-bar 
{
	width: 71%;
}

#add-direction
{
	width: 436.5px;
	margin-top: 90px;
	margin-left: 45px;
	float: left;
	background-color: #f2f9f9;
	border-style: ridge;
	border-left-width: 3px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-color: #f2f2f2;
}

#add-instructions-1 
{
	font-family: sans-serif;
	padding-top: 34px;
	padding-left: 32px;
	font-size: 13.5px;
	color: grey;
}

#add-instructions-2
{
	font-family: sans-serif;
	padding-left: 32px;
	font-size: 13.5px;
	color: grey;
	margin-top: -5px;
}

#direction p 
{
	padding-top: 36px;
	padding-left: 24px;
	color: #808080;
	font-size: 13px;
}

#direction-field 
{
	height: 155px;
	width: 390px;
	margin-left: 20px;
	font-size: 13px;
	color: #808080;
	background-color: #f9f9f9;
}

#add
{
	margin-top: 46px;
	padding-bottom: 32px;
	text-align: center;
}

#add-button
{
	height: 32px;
	width: 100px;
	font-size: 14.5px;
	box-shadow: 0.5px 0.5px 1.5px #00994d;
}

#view-directions
{
	height: 557px;
	width: 577px;
	margin-left: 83px;
	margin-top: 18px;
	margin-right: 45px;
	float: left;
	overflow: scroll;
	background-color: #fffff9;
}

#directions-table
{
	height: 484px;
	width: 561.5px;
} 

#directions-table caption 
{
	font-size: 13.5px;
	margin-left: 257.5px;
}

#step-title 
{
	padding-left: 6px;
	font-size: 13px;
}

#direction-title
{
	width: 516px;
	padding-left: 18px;
	font-size: 13px;
}

td 
{
	height: 35px;
	font-size: 13px;
}

.direction-input
{
	display: none;
	height: 0px;
	width: 0px;
}

.direction-added 
{
	width: 378px;
	padding-left: 14.5px;
}

.glyphicon 
{
	padding-right: 12.5px;
}

.blank 
{
	height: 35px;
}

#hidden-step
{
	width: 66.5px;
	color: transparent;
	padding-left: 20px;
}

#hidden-direction
{
	width: 495px;
	color: transparent;
	padding-left: 20px;
}

#clear-float1
{
	clear: both;
}

#next
{
	padding-top: 100px;
	text-align: center;
}

#next-button
{
	height: 30px;
	width: 110px;
	font-size: 14.5px;
	box-shadow: 1px 1px 2.5px #e65c00;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}
