/******************************************************************************************
*******************************************************************************************
** Name: addRecipeIngredients.css													   ****
** Purpose: Provides style sheet for "addRecipeIngredients.php"					   	   ****
** Author: Rhys Hall																   ****
** Date Created: 05/14/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0%;
	padding: 0%;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

#title p 
{
	padding-top: 18px;
	font-size: 16px;
	font-family: sans-serif;
	color: #e62e00;
	text-align: center;
}

#sub-title p 
{
	padding-top: 15px;
	margin-bottom: 36px;
	font-size: 14.5px;
	font-family: sans-serif;
	text-align: center;
}

#bar
{
	margin-left: 374px;
	margin-bottom: 36px;
	width: 450px;
}

#blue-bar 
{
	width: 57%;
}

#add-ingredient 
{
	width: 436.5px;
	margin-top: 90px;
	margin-left: 45px;
	float: left;
	background-color: #f2f9f9;
	border-style: ridge;
	border-width: 3px;
	border-color: #f2f2f2;
	padding-right: 3px;
}

#add-instructions-1 
{
	font-family: sans-serif;
	padding-top: 34px;
	padding-left: 33px;
	font-size: 13.5px;
	color: grey;
}

#add-instructions-2
{
	font-family: sans-serif;
	padding-left: 33.5px;
	font-size: 13.5px;
	color: grey;
	margin-top: -5px;
}

#ingredient p 
{
	padding-top: 110px;
	padding-left: 40px;
	color: #808080;
	font-size: 13.5px;
}

#ingredient-field 
{
	height: 34px;
	width: 360px;
	margin-left: 36px;
	font-size: 13.5px;
	color: #808080;
	background-color: #f9f9f9;
}

#add
{
	margin-top: 46px;
	padding-bottom: 32px;
	text-align: center;
}

#add-button
{
	height: 32px;
	width: 90px;
	font-size: 14.5px;
	box-shadow: 0.5px 0.5px 1.5px #00994d;
}

#view-ingredients 
{
	height: 557px;
	width: 577px;
	margin-left: 86.5px;
	margin-top: 18px;
	margin-right: 45px;
	float: left;
	overflow: scroll;
	background-color: #fffff9;
}

#ingredients-table
{
	height: 484px;
	width: 561.5px;
} 

#ingredients-table caption 
{
	font-size: 13.5px;
	margin-left: 286px;
}

#table-title
{
	width: 508px;
	padding-left: 18px;
	font-size: 13px;
}

td 
{
	height: 35px;
	font-size: 13px;
}

.ingredient-input
{
	display: none;
	height: 0px;
	width: 0px;
}

.ingredient-added 
{
	width: 396px;
	padding-left: 20px;
}

.blank 
{
	height: 35px;
}

#hidden-ingredient
{
	width: 495px;
	color: transparent;
	padding-left: 20px;
}

#clear-float1
{
	clear: both;
}

#next
{
	padding-top: 100px;
	text-align: center;
}

#next-button
{
	height: 30px;
	width: 110px;
	font-size: 14.5px;
	box-shadow: 1px 1px 2.5px #e65c00;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}
