/******************************************************************************************
*******************************************************************************************
** Name: basicInfo.css													   		  	   ****
** Purpose: Provides style sheet for "basicInfo.php"					   	       	   ****
** Author: Rhys Hall																   ****
** Date Created: 10/11/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
}

#info-box 
{
	width: 754px;
	margin-top: 45px;
	margin-left: 218px;
	background-color: #f2f2f2;
	border-style: solid;
	border-left-width: 0.5px;
	border-top-width: 0.5px;
	border-right-width: 0.5px;
	border-bottom-width: 0.5px;
	border-color: grey;
}

#instructions-text 
{
	font-family: sans-serif;
	padding-top: 11px;
	padding-bottom: 2px;
	text-align: center;
	font-size: 14px;
	background-color: #f3fcf9;
	border-bottom-style: solid;
	border-bottom-width: 0.25px;
	border-color: grey;
}

#instructions-text p
{
	color: grey;
}

#username
{
	padding-top: 64px;
	padding-left: 162px;
}

#username-label
{
	padding-top: 7.5px;
	font-size: 14px;
	float: left;
}

#username-field
{
	height: 34px;
	width: 342px;
	float: left;
	font-size: 14px;
	color: grey;
	margin-left: 18px;
}

#email
{
	padding-top: 90px;
	padding-left: 164px;
}

#email-label
{
	padding-top: 7.5px;
	font-size: 14px;
	float: left;
}

#email-field
{
	height: 34px;
	width: 375px;
	float: left;
	font-size: 14px;
	color: grey;
	margin-left: 18px;
}

#gender 
{
	padding-top: 90px;
	padding-left: 272px;
}

#male-label 
{
	float: left;
	padding-right: 9px;
	font-size: 14px;
}

#male-radio
{
	margin-top: 4.5px;
	float: left;
}

#female-label 
{
	float: left;
	padding-left: 81px;
	padding-right: 9px;
	font-size: 14px;
}

#female-radio 
{
	margin-top: 4.5px;
	float: left;
}

#save-info 
{
	padding-top: 70px;
	text-align: center;
	padding-bottom: 24px;
}

#save-symbol
{
	font-size: 12px;
	padding-left: 6.5px;
}

#save-info-button 
{
	height: 32px;
	width: 92px;
	font-size: 15px;
	box-shadow: 1px 1px 1px #1f7a1f;
	padding-bottom: 2px;
}
