/******************************************************************************************
*******************************************************************************************
** Name: cookbookRecipes.css														   ****
** Purpose: Provides style sheet for "cookbookRecipes.php"					   		   ****
** Author: Rhys Hall																   ****
** Date Created: 06/24/2017 													   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

#title
{
	background-color: #ffffff;
	padding-bottom: 9px;
}

#title p 
{
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
	color: #e62e00;
}

#recipes
{
	padding-top: 36px;
	margin-left: 160px;
	text-align: center;
	background-color: #ffffff;
	padding-bottom: 21.5px;
	width: 870px;
}

#recipes-table 
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

#recipes-table thead 
{
	font-size: 13.5px;
}

#recipes-table img 
{
	height: 111.5px;
	width: 138.5px;
	padding-top: 16px;
	padding-bottom: 7px;
	padding-left: 27px;
}

#photo-table-title 
{
	padding-left: 68.5px;
}

.table-name
{
	margin-top: 16px;
	margin-right: 27px;
	font-size: 14px;
}

.table-date
{
	margin-top: 16px;
	margin-right: 120px;
	margin-left: 12px;
	font-size: 14px;
}

.glyphicon-trash
{
	font-size: 14px;
	margin-top: 18px;
	margin-right: 14px;
	padding-left: 30px;
}

#options-menu 
{
	padding-left: 271px;
}

#page-number
{
	padding-left: 117px;
	padding-top: 30px;
	float: left;
}

#page-number-text 
{
	font-size: 14px;
	padding-top: 4.5px;
	float: left;
}

#page-number-field
{
	height: 30px;
	width: 74px;
	font-size: 14px;
	margin-left: 11px;
	float: left;
}

#clear-float
{
	clear: both;
}

#sort-recipes
{
	padding-left: 117px;
	padding-top: 30px;
	float: left;
}

#sort-recipes-text 
{
	font-size: 14px;
	float: left;
	padding-top: 4.5px;
}

#sort-recipes-field
{
	height: 30px;
	width: 182px;
	font-size: 14px;
	margin-left: 12.5px;
	float: left;
}

#clear-float2
{
	clear: both;
}

#clear-float3
{
	clear: both;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}
