/******************************************************************************************
*******************************************************************************************
** Name: footer.css																	   ****
** Purpose: Provides style sheet for "footer.php"					   				   ****
** Author: Rhys Hall																   ****
** Date Created: 04/24/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0%;
	padding: 0%;
}

#container-footer
{
	margin-top: 192px;
	height: 150px;
}

#copyright
{
	text-align: center;
}

#copyright-p1
{
	padding-top: 55px;
	font-size: 14px;
}

#copyright-p2
{
	font-size: 14px;
	padding-top: 16px;
}
