/******************************************************************************************
*******************************************************************************************
** Name: header.css																	   ****
** Purpose: Provides style sheet for "header.php"					   				   ****
** Author: Rhys Hall																   ****
** Date Created: 04/16/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

#colour-canvas-header1
{
	background-color: #efffff;
	height: 2px;
}

#header-canvas
{
	background-color: #f6f9f9;
	height: 68px;
	width: 1191px;
}

#logo 
{
	float: left;
	padding-top: 7px;
	padding-left: 22px;
}

#logo img
{
	height: 55px;
	width: 104.5px;
}

#categories
{
	float: left;
	padding-top: 12px;
	padding-left: 40px;
	background-color: #f6f9f9;
}

#categories-button 
{
	height: 44px; 
	width: 132px;
	text-align: center;
	padding-right: 20px;
	color: #000000;
	font-size: 15px;
	float: left;
}

#categories-drop-down
{
	float: left;
}

#categories-drop-down-button 
{
	height: 44px;
	width: 44px;
	margin-left: -8px;
	float: left;
}

#search-form
{
	float: left;
	padding-top: 12px;
	padding-left: 28px;
	background-color: #f7f9f9;
	height: 63px;
}

#search-field
{
	height: 44px;
	width: 429.5px;
	float: left;
	font-size: 15px;
	font-style: italic;
}

#search-button
{
	height: 38px;
	width: 38px;
	margin-top: 3px;
	margin-left: -41px;
	float: left;
}

#random-recipe
{
	float: left;
	margin-top: 23px;
	margin-left: 26px;
}

#die 
{
	height: 26px;
	width: 26px;
}

#die:hover 
{ 
	filter: brightness(66%); 
}

#advanced-search
{
	float: left;
	margin-top: 23px;
	margin-left: 18px;
}

#beaker
{
	height: 26px;
	width: 26px;
}

#beaker:hover 
{ 
	filter: brightness(66%); 
}

#account
{
	float: left;
	padding-top: 17px;
	padding-left: 110px;
	background-color: #f6f9f9;
	height: 44px;
}

#register-button 
{
	font-size: 14px;
	float: left;
	padding-top: 13px;
}

#account h5
{
	float: left;
	font-size: 15px;
	padding-top: 2px;
	padding-left: 18px;
}

#log-in-button 
{
	font-size: 14px;
	float: left;
	padding-top: 13px;
	padding-left: 18px;
	padding-right: 36px;
}

#user-menu 
{
	float: left;
	margin-top: 12px;
	margin-left: 32px;
	background-color: #f6f9f9;
}

#user-pic
{
	border-radius: 50%;
	height: 36px;
	width: 38px;
	margin-top: -3px;
	margin-left: -7px;
	margin-right: 6%;
}

#user-button 
{
	height: 44px; 
	width: 232px;
	text-align: left;
	color: #000000;
	font-size: 15px;
	float: left;
}

#user-drop-down
{
	float: left;
	width: 76px;
	position: absolute;
	margin-left: 188px;
	
}

#user-drop-down-menu li 
{
	display: block;
}

#user-drop-down-button 
{
	height: 44px;
	width: 44px;
	float: left;
}

.glyphicon-user 
{
	margin-top: 2.5px;
}

.glyphicon-book
{
	margin-top: 2px;
}

.glyphicon-cutlery
{
	margin-top: 0.5px;
}

.glyphicon-list-alt
{
	margin-top: 1px;
}

.glyphicon-stats
{
	margin-top: 0px;
}

#clear-float-header1
{
	clear: both;
} 

#colour-canvas-header2
{
	background-color: #efffff;
	height: 2px;
	-webkit-box-shadow: 0px 0.1px #000000;
    -moz-box-shadow: 0px 0.1px #000000;
    box-shadow: 0px 0.1px #000000;
}
