/******************************************************************************************
*******************************************************************************************
** Name: index.css																	   ****
** Purpose: Provides style sheet for "index.php"					   				   ****
** Author: Rhys Hall																   ****
** Date Created: 04/13/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0%;
	padding: 0%;
	display: table;
	background-color: #000000;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

#top-separator 
{
	padding-top: 5.5px;
	padding-left: 32.5px;
	padding-right: 32.5px;
	margin-bottom: -6.5px;
}

#recipe-canvas
{
	margin-left: 32.5px;
	margin-right: 32.5px;
	padding-top: -11px;
	background-color: #f9f9f9;
}

.row 
{
	width: 1141px;
}

.thumbnail, .thumbnail:hover
{
	color: #000000;
	text-decoration: none;
	width: 270px;
	background-color: #f9f9f9;
}

.recipe-image
{
	border-radius: 6.5px;
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	margin-top: 7px;
	margin-bottom: 10px;
}

.recipe-heading
{
	font-style: italic;
	text-align: center;
	font-size: 12px;
	margin-bottom: -10px;
}

.recipe-name 
{
	font-size: 13px;
	margin-top: 34px;
	padding-left: 8px;
	padding-right: 6px;
	color: grey;
}

.rating-stars
{
	float: left;
	color: orange;
	margin-top: -4px;
	padding-left: 8px;
	margin-bottom: 14px;
}

.rating-count1
{
	float: left;
	margin-top: -4px;
	padding-left: 1px;
	font-size: 12px;
	color: grey;
}

.rating-count2
{
	float: left;
	margin-top: -4px;
	padding-left: 4px;
	font-size: 12px;
	color: grey;
}

#clear-float1
{
	clear: both;
}

.glyphicon-star 
{
	padding-right: 2px;
	font-size: 14px;
}

.half 
{
    position:relative;
}

.half:after 
{
    content: '';
    position: absolute;
    z-index: 1;
    background: white;
    width: 47%;
    height: 100%;
    left: 50%;
}

.glyphicon-star-empty  
{
	color: grey;
	padding-right: 2px;
}

.recipe-description
{
	height: 54px;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: -6px;
	color: grey;
}

.glyphicon-user
{
	margin-top: -4px;
	font-size: 12.5px;
	padding-left: 8px;
	float: left;
}

.recipe-author
{
	margin-top: -4px;
	padding-left: 7px;
	font-size: 12px;
	color: #000080;
	float: left;
}

#clear-float2
{
	clear: both;
}

.glyphicon-time
{
	padding-top: 1.25px;
	font-size: 12.5px;
	padding-left: 8px;
	float: left;
}

.recipe-time 
{
	padding-left: 5px;
	font-size: 12px;
	float: left;
}

#clear-float3
{
	clear: both;
}

.glyphicon-book
{
	font-size: 12.5px;
	padding-left: 8px;
	float: left;
}

.cookbook-adds
{
	padding-left: 5.5px;
	margin-bottom: 7px;
	font-size: 12px;
	float: left;
}

#clear-float4
{
	clear: both;
}

#bottom-separator 
{
	margin-top: -18px;
	padding-left: 32.5px;
	padding-right: 32.5px;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}

/* @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); */
/* 5-star rating system widget: retrieved from https://codepen.io/jamesbarnett/pen/vlpkh */
/*.rating 
{ 
	margin-top: -8px;
	padding-left: 3px;
    border: none;
    float: left;
}

.rating > input 
{ 
	display: none; 
} 
.rating > label:before 
{ 
	margin: 5.5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before 
{ 
	content: "\f089";
	position: absolute;
}

.rating > label 
{ 
	color: #ddd; 
	float: right; 
}

#clear-float1
{
	clear: both;
}

/* highlight stars on hover 

.rating > input:checked ~ label,  show gold star when clicked 
.rating:not(:checked) > label:hover,  hover current star 
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }  hover previous stars in list 

.rating > input:checked + label:hover,  hover current star when changing rating 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,  lighten current selection 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }  

<!--5-star rating system widget: retrieved from https://codepen.io/jamesbarnett/pen/vlpkh-->
									<fieldset class="rating">
										<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Magnificent!"></label>
										<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Amazing"></label>
										<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Great"></label>
										<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Good"></label>
										<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Fair"></label>
										<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Poor"></label>
										<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Very poor"></label>
										<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Sucked!"></label>
										<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Really sucked!"></label>
										<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Worst recipe ever!"></label>
									</fieldset> */
