/******************************************************************************************
*******************************************************************************************
** Name: index.css																	   ****
** Purpose: Provides style sheet for "index.php"					   				   ****
** Author: Rhys Hall																   ****
** Date Created: 04/13/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body
{
	margin: 0%;
	padding: 0%;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 166px;
	height: 2000px;
	float: left;
}

#container
{
	width: 1426.5px;
	height: 2000px;
	float: left;
	background-color: #ffffff;
}

#top-separator 
{
	margin-top: -10px;
	padding-left: 20.25px;
	padding-right: 20.25px;
}

#recipe-canvas
{
	width: 1386px;
	margin-left: 20.25px;
	margin-top: -12px;
}

.thumbnail, .thumbnail:hover
{
	color: #000000;
	text-decoration: none;
}

.recipe-image
{
	border-radius: 5px;
	padding-bottom: 10px;
}

.recipe-heading
{
	font-style: italic;
	text-align: center;
}


/* 5-star rating system widget: retrieved from https://codepen.io/jamesbarnett/pen/vlpkh */

.rating 
{ 
  border: none;
  float: left;
}

.rating > input 
{ 
	display: none; 
} 
.rating > label:before 
{ 
	margin: 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before 
{ 
	content: "\f089";
	position: absolute;
}

.rating > label 
{ 
	color: #ddd; 
	float: right; 
}

#clear-float1
{
	clear: both;
}

/* highlight stars on hover */

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.glyphicon-time
{
	padding-top: 1.25px;
	float: left;
}

.recipe-time 
{
	padding-left: 4px;
	float: left;
}

#clear-float2
{
	clear: both;
}

.glyphicon-book
{
	float: left;
}

.cookbook-adds
{
	padding-left: 6px;
	float: left;
}

#clear-float3
{
	clear: both;
}

#bottom-separator 
{
	margin-top: -20px;
	padding-left: 20.25px;
	padding-right: 20.25px;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 166px;
	height: 2000px;
	float: left;
}

#clear-float4
{
	clear: both;
}

#footer
{
	background-color: #f9f9f9;
}
