/******************************************************************************************
*******************************************************************************************
** Name: ingredientCountError.css													   ****
** Purpose: Provides style sheet for "ingredientCountError.php"					   	   ****
** Author: Rhys Hall																   ****
** Date Created: 08/14/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#ingredient-count-message #exclamation-mark 
{
	padding-right: 14px;
}

#ingredient-count-message
{
	margin-top: 100px;
	margin-left: 36px;
	margin-right: 36px;
	margin-bottom: -98px;
}

#ingredient-count-message p 
{
	font-family: sans-serif;
	font-size: 13.5px;
	color: #ffffff;
	background-color: #ff3333;
	padding-top: 3px;
	padding-left: 20px;
	padding-bottom: 2px;
	border-radius: 2px;
}
