/******************************************************************************************
*******************************************************************************************
** Name: ingredientCountError.css													   ****
** Purpose: Provides style sheet for "ingredientCountError.php"					   	   ****
** Author: Rhys Hall																   ****
** Date Created: 08/14/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#ingredient-count-message #exclamation-mark 
{
	padding-right: 236px;
}

#ingredient-count-message
{
	padding-left: 273.25px;
	font-family: sans-serif;
	font-size: 18px;
	padding-bottom: 45px;
	margin-top: 60px;
}

#ingredient-count-message p 
{
	color: #ffffff;
	background-color: #ff3333;
	height: 35px;
	width: 880px;
	padding-left: 24px;
	padding-top: 5px;
	border-radius: 5px;
}
