/******************************************************************************************
*******************************************************************************************
** Name: logInError.css													   			   ****
** Purpose: Provides style sheet for "logInError.php"					   	   		   ****
** Author: Rhys Hall																   ****
** Date Created: 04/26/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#empty-error-speech-bubble
{
	height: 53px;
	width: 412px;
	margin-top: 41px;
	margin-left: 15px;
	float: left;
}

#empty-error-speech-text 
{
	position: absolute;
	padding-top: 69px;
	padding-left: 546px;
	font-family: "Segoe UI Semibold";
	font-size: 14.5px;
	color: white;
}

#email-error-speech-bubble
{
	height: 53px;
	width: 354px;
	margin-top: 41px;
	margin-left: 15px;
	float: left;
}

#email-error-speech-text 
{
	position: absolute;
	padding-top: 70px;
	padding-left: 540px;
	font-family: "Segoe UI Semibold";
	font-size: 14.5px;
	color: white;
}

#combination-error-speech-bubble
{
	height: 48px;
	width: 340px;
	margin-top: 41px;
	margin-left: 15px;
	float: left;
}

#combination-error-speech-text 
{
	position: absolute;
	padding-top: 68px;
	padding-left: 545px;
	font-family: "Segoe UI Semibold";
	font-size: 14.5px;
	color: white;
}
