/******************************************************************************************
*******************************************************************************************
** Name: logIn.css																	   ****
** Purpose: Provides style sheet for "logIn.php"					   				   ****
** Author: Rhys Hall																   ****
** Date Created: 04/26/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

#chef-fish 
{
	margin-top: 42px;
	margin-left: 360px;
	height: 63px;
	width: 78.5px;
	float: left;
}

#speech-bubble
{
	height: 53px;
	width: 398px;
	margin-top: 41px;
	margin-left: 15px;
	float: left;
}

#speech-text 
{
	position: absolute;
	padding-top: 69px;
	padding-left: 554px;
	font-family: "Segoe UI Semibold";
	font-size: 15px;
	color: white;
}

#clear-float1
{
	clear: both;
}

#hidden-field 
{
	height: 0px;
	width: 0px;
	visibility: hidden;
}

#log-in-email 
{
	padding-top: 108px;
	padding-left: 449px;
}

#log-in-email-field
{
	height: 36px;
	width: 300px;
	font-size: 15px;
	color: #808080;
	background-color: #f9f9f9;
}

#log-in-password
{
	padding-top: 40.5px;
	padding-left: 449px;
}

#log-in-password-field 
{
	height: 36px;
	width: 300px;
	font-size: 15px;
	color: #808080;
	background-color: #f9f9f9;
	float: left;
}

#forgot-password
{
	padding-top: 13px;
	margin-left: 16px;
	font-size: 13px;
	float: left;
}

#clear-float2
{
	clear: both;
}

#log-in-submit 
{
	padding-top: 90px;
	text-align: center;
	padding-bottom: 9px;
	margin: 0 auto;
}

#log-in-submit-button
{
	height: 34px;
	width: 160px;
	font-size: 15.5px;
	box-shadow: 1px 1px 2.5px #007399;
}

#register-link 
{
	padding-left: 424px;
}

#register-link h3
{
	font-family: sans-serif;
	font-size: 15px;
	float: left;
}

#register-link a
{
	padding-top: 17.25px;
	font-family: sans-serif;
	font-size: 15px;
	float: left;
}

#clear-float3
{
	clear: both;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}
