/******************************************************************************************
*******************************************************************************************
** Name: popUpConfirm.css											   				   ****
** Purpose: Provides style sheet for pop-up confirm messages						   ****
** Author: Rhys Hall																   ****
** Date Created: 09/17/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
}

#container
{
	background-color: #f5f5ef;
	height: 100%;
	width: 100%;
}

#message 
{
	padding-top: 60px;
	background-color: #f5f5ef;
}

#message p 
{
	font-size: 14px;
	text-align: center;
}

#yes
{
	padding-top: 82px;
	background-color: #f5f5ef;
	padding-left: 88px;
	float: left;
}

#no
{
	padding-top: 82px;
	background-color: #f5f5ef;
	padding-left: 80px;
	float: left;
}

#yes-button
{
	height: 30px;
	width: 84px;
	font-size: 14.5px;
	box-shadow: 1px 1px 1.5px #29a329;
}

#no-button
{
	height: 30px;
	width: 84px;
	font-size: 14.5px;
	box-shadow: 1px 1px 1.5px #cc0000;
}

#clear-float
{
	clear: both;
}
