/******************************************************************************************
*******************************************************************************************
** Name: popUpSuccess.css											   				   ****
** Purpose: Provides style sheet for pop-up success messages						   ****
** Author: Rhys Hall																   ****
** Date Created: 09/05/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
}

#container
{
	background-color: #f5f5ef;
	height: 100%;
	width: 100%;
}

#message 
{
	padding-top: 42px;
	background-color: #f5f5ef;
}

#message p 
{
	font-size: 14px;
	text-align: center;
}

#close 
{
	padding-top: 68px;
	text-align: center;
	background-color: #f5f5ef;
}

#close-button
{
	height: 30px;
	width: 80px;
	font-size: 14px;
	box-shadow: 1px 1px 2.5px #29a329;
}
