/******************************************************************************************
*******************************************************************************************
** Name: profile.css																   ****
** Purpose: Provides style sheet for "profile.php"					   				   ****
** Author: Rhys Hall																   ****
** Date Created: 09/13/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

#title
{
	background-color: #ffffff;
	padding-bottom: 9px;
}

#title p 
{
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
	color: #e62e00;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}
