/******************************************************************************************
*******************************************************************************************
** Name: recipeProfile.css															   ****
** Purpose: Provides style sheet for "recipeProfile.php"					   		   ****
** Author: Rhys Hall																   ****
** Date Created: 09/25/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

.clear-float
{
	clear: both;
}

.colon
{
	font-weight: bold;
}

#title
{
	padding-top: 21px;
	padding-left: 204px;
}

#title p 
{
	font-size: 16px;
	font-family: plantagenet cherokee;
}

.rating-stars
{
	color: orange;
	padding-top: 2px;
	padding-left: 200px;
	padding-bottom: 21px;
	float: left;
}

.rating-count1
{
	float: left;
	margin-top: 0px;
	padding-left: 3px;
	font-size: 13px;
	color: grey;
}

.rating-count2
{
	float: left;
	margin-top: 1px;
	padding-left: 5px;
	font-size: 13px;
	color: grey;
}

#clear-float1 
{
	clear: both;
}

.glyphicon-star
{
	font-size: 15px;
	padding-left: 4px;
}

.glyphicon-star-empty  
{
	color: grey;
	font-size: 15px;
	padding-left: 4px;
}

.half 
{
    position: relative;
}

.half:after 
{
    content: '';
    position: absolute;
    z-index: 1;
    background: white;
    width: 61%;
    height: 100%;
    left: 61%;
}

#recipe-header 
{
	background-color: #f2f2f2;
	margin-left: 200px;
	margin-right: 200px;
}

#left-header
{
	float: left;
	height: 314px;
	width: 377px;
	background-color: #f2f2f2;
}

#recipe-photo 
{
	padding-top: 14px;
	padding-left: 14px;
}

#recipe-photo img 
{
	border-radius: 4px 4px 0px 0px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	height: 250px;
	width: 363px;
}

.btn-group
{
	margin-left: 14px;
}

#cookbook-button 
{
	height: 34px;
	width: 88px;
	font-size: 13px;
	color: #f2f2f2;
	padding-top: 7px;
	border-radius: 0px 0px 0px 6px;
}

#review-button 
{
	height: 34px;
	width: 94px;
	font-size: 13px;
	color: #f2f2f2;
	padding-top: 8px;
}

#share-button 
{
	height: 34px;
	width: 92px;
	font-size: 13px;
	color: #f2f2f2;
	padding-top: 8.5px;
}

#print-button 
{
	height: 34px;
	width: 92px;
	font-size: 13px;
	color: #f2f2f2;
	padding-top: 9px;
	border-radius: 0px 0px 6px 0px;
}

.glyphicon-book
{
	padding-right: 7px;
	color: #f2f2f2;
}

.glyphicon-list-alt
{
	padding-right: 7px;
	color: #f2f2f2;
}

.glyphicon-share
{
	padding-right: 7px;
	color: #f2f2f2;
}

.glyphicon-print
{
	padding-right: 7px;
	color: #f2f2f2;
}

#right-header 
{
	background-color: #f2f2f2;
	border-radius: 3px;
	height: 314px;
	width: 308px;
	float: left;
}

#author-photo 
{
	padding-top: 18px;
	padding-left: 30px;
	float: left;
}

#author-photo img 
{
	border-radius: 50%;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	height: 52px;
	width: 52px;
}

#author-info
{
	padding-top: 22px;
	padding-left: 24px;
	float: left;
}

#author-info p
{
	color: #666666;
	font-size: 13px;
	font-style: italic;
}

#author-info a 
{
	font-size: 13px;
}

#cookbook-adds
{
	padding-top: 31px;
	padding-left: 30px;
}

#cookbook-adds p 
{
	color: #e68a00;
	font-size: 14px;
	font-family: sans-serif;
}

.glyphicon-time 
{
	font-size: 17px;
	float: left;
}

#prep-time
{
	padding-top: 44px;
	padding-left: 30px;
	float: left;
}

#prep-time p
{
	font-size: 13px;
	padding-top: 1px;
	padding-left: 6px;
	color: #666666;
	float: left;
}

#cook-time
{
	padding-top: 44px;
	padding-left: 30px;
	float: left;
}

#cook-time p
{
	font-size: 13px;
	padding-top: 1px;
	padding-left: 6px;
	color: #666666;
	float: left;
}

#wait-time
{
	padding-top: 30px;
	padding-left: 30px;
	float: left;
}

#wait-time p
{
	font-size: 13px;
	padding-top: 1px;
	padding-left: 6px;
	color: #666666;
	float: left;
}

#servings
{
	padding-top: 30px;
	padding-left: 30px;
	float: left;
}

#cutlery
{
	margin-top: -0.5px;
	font-size: 16px;
	float: left;
}

#servings p
{
	color: #666666;
	font-size: 13px;
	padding-top: 1px;
	padding-left: 9px;
	float: left;
}

#description-title
{
	margin-top: 81px;
	margin-left: 135px;
	margin-right: 135px;
	background-color: #ffd699;
	box-shadow: 1px 1px 1px #ffad33;
}

#description-title p 
{
	padding-top: 9px;
	padding-bottom: 3.5px;
	text-align: center;
	font-size: 14.5px;
	font-family: sans-serif;
	color: #000000;
}

#description-text 
{
	background-color: #f6f6f6;
	margin-top: -7px;
	margin-left: 135px;
	margin-right: 135px;
	height: 248.5px;
}

#description-text p 
{
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 13px;
	color: #000000;
}

#ingredients-title
{
	margin-top: 81px;
	margin-left: 135px;
	margin-right: 135px;
	background-color: #ffd699;
	box-shadow: 1px 1px 1px #ffad33;
}

#ingredients-title p 
{
	padding-top: 9px;
	padding-bottom: 3.5px;
	text-align: center;
	font-size: 14.5px;
	font-family: sans-serif;
	color: #000000;
}

.glyphicon-plus
{
	float: left;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 8px;
	font-size: 13px;
}

.ingredient 
{
	margin-bottom: -7px;
	float: left;
}

#ingredients-text 
{
	background-color: #f6f6f6;
	padding-bottom: 27px;
	margin-top: -7px;
	margin-left: 135px;
	margin-right: 135px;
	width: 921px;
}

#ingredients-text1
{
	background-color: #f6f6f6;
	width: 439px;
	float: left;
}

#ingredients-text1 p 
{
	padding-top: 25px;
	padding-right: 39.5px;
	font-size: 13px;
	color: #000000;
}

#clear-float8
{
	clear: both;
}

#ingredients-text2
{
	background-color: #f6f6f6;
	width: 439px;
	float: left;
}

#ingredients-text2 p 
{
	padding-top: 25px;
	padding-right: 39.5px;
	font-size: 13px;
	color: #000000;
}

#clear-float9
{
	clear: both;
}

#clear-float10
{
	clear: both;
}

.step 
{
	padding-left: 25px;
	font-weight: bold;
	font-size: 13px;
}

.direction 
{
	padding-right: 38px;
	padding-left: 9px;
}

#directions-title
{
	margin-top: 81px;
	margin-left: 135px;
	margin-right: 135px;
	background-color: #ffd699;
	box-shadow: 1px 1px 1px #ffad33;
}

#directions-title p 
{
	padding-top: 9px;
	padding-bottom: 3.5px;
	text-align: center;
	font-size: 14.5px;
	font-family: sans-serif;
	color: #000000;
}

.step-area
{
	float: left;
}

.direction-area 
{
	float: left;
	width: 828px;
}

#directions-text
{
	background-color: #f6f6f6;
	padding-bottom: 25px;
	margin-top: -7px;
	margin-left: 135px;
	margin-right: 135px;
	width: 921px;
}

#directions-text p 
{
	padding-top: 25px;
	font-size: 13px;
	color: #000000;
}


#notes-title
{
	background-color: #ffd699;
	margin-top: 81px;
	margin-left: 135px;
	margin-right: 135px;
	box-shadow: 1px 1px 1px #ffad33;
}

#notes-title p 
{
	padding-top: 9px;
	padding-bottom: 3.5px;
	text-align: center;
	font-size: 14.5px;
	font-family: sans-serif;
	color: #000000;
}

#notes-text 
{
	background-color: #f6f6f6;
	margin-top: -7px;
	margin-left: 135px;
	margin-right: 135px;
	height: 248.5px;
}

#notes-text p 
{
	padding-top: 27px;
	padding-left: 47px;
	padding-right: 39.5px;
	font-size: 13px;
	color: #000000;
}

#clear-float11
{
	clear: both;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}
