/******************************************************************************************
*******************************************************************************************
** Name: recipes.css																   ****
** Purpose: Provides style sheet for "recipes.php"					   				   ****
** Author: Rhys Hall																   ****
** Date Created: 04/26/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

#title
{
	background-color: #ffffff;
	padding-bottom: 9px;
}

#title p 
{
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
	color: #e62e00;
}

#add-first-recipe-messages 
{
	padding-top: 41.5px;
}

#recipe-message1
{
	font-size: 17px;
	text-align: center;
}

#recipe-message2
{
	padding-top: 50px;
	font-size: 16.5px;
	text-align: center;
}

#add-first-recipe
{
	padding-top: 21.5px;
	text-align: center;
	background-color: #ffffff;
}

#add-first-recipe-button
{
	height: 40.5px;
	width: 360px;
	font-size: 17px;
	box-shadow: 1px 1px 2.5px #29a329;
	margin-bottom: 194.5px;
}

#recipes
{
	padding-top: 36px;
	text-align: center;
	background-color: #ffffff;
	padding-bottom: 21.5px;
}

#recipes-table 
{
	width: 900px;
	margin-left: 144.5px;
	border-collapse: collapse;
	border-spacing: 0;
}

#recipes-table thead 
{
	font-size: 13.5px;
}

#recipes-table img 
{
	height: 111.5px;
	width: 138.5px;
	padding-top: 16px;
	padding-bottom: 7px;
	padding-left: 27px;
	margin-right: -450px;
}

#photo-table-title 
{
	padding-left: 68.5px;
}

.table-name
{
	margin-top: 16px;
	margin-right: 27px;
	font-size: 14px;
}

.table-date
{
	margin-top: 16px;
	margin-right: 40px;
	margin-left: 18px;
	font-size: 14px;
}

.glyphicon-pencil
{
	font-size: 14px;
	margin-top: 18px;
	margin-right: -29px;
	padding-right: 21.5px;
}

.glyphicon-trash
{
	font-size: 14px;
	margin-top: 18px;
	padding-right: 27px;
	margin-right: -29px;
}

#options-menu 
{
	padding-left: 271px;
}

#add-recipe 
{
	padding-top: 27px;
	float: left;
}

#plus-symbol
{
	font-size: 12px;
	padding-left: 5px;
}

#add-recipe-button 
{
	height: 32px;
	width: 81px;
	padding-top: 6px;
	font-size: 15px;
	box-shadow: 1px 1px 1px #1f7a1f;
}

#page-number
{
	padding-left: 117px;
	padding-top: 30px;
	float: left;
}

#page-number-text 
{
	font-size: 14px;
	padding-top: 4.5px;
	float: left;
}

#page-number-field
{
	height: 30px;
	width: 74px;
	font-size: 14px;
	margin-left: 11px;
	float: left;
}

#clear-float
{
	clear: both;
}

#sort-recipes
{
	padding-left: 117px;
	padding-top: 30px;
	float: left;
}

#sort-recipes-text 
{
	font-size: 14px;
	float: left;
	padding-top: 4.5px;
}

#sort-recipes-field
{
	height: 30px;
	width: 180px;
	font-size: 14px;
	margin-left: 12.5px;
	float: left;
}

#clear-float2
{
	clear: both;
}

#clear-float3
{
	clear: both;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}
