/******************************************************************************************
*******************************************************************************************
** Name: recipeProfile.css															   ****
** Purpose: Provides style sheet for "recipeProfile.php"					   		   ****
** Author: Rhys Hall																   ****
** Date Created: 09/25/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

.clear-float
{
	clear: both;
}

.colon
{
	font-weight: bold;
}

#recipe-content 
{
	border-style: double;
	border-width: 1px;
	border-color: #cccccc;
	border-radius: 6px;
	margin-top: 40px;
	margin-left: 167px;
	margin-right: 167px;
	background-color: #fafaf9;
}

#title
{
	margin-top: 18px;
	text-align: center;
}

#title p 
{
	font-size: 16px;
	font-family: plantagenet cherokee;
}

#recipe-header 
{
	margin-top: 22px;
}

#left-header
{
	float: left;
}

#recipe-photo 
{
	padding-top: 14px;
	padding-left: 40px;
}

#recipe-photo img 
{
	border-radius: 4px 4px 0px 0px;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	height: 250px;
	width: 363px;
}

#right-header 
{
	border-radius: 3px;
	background-color: #fafff9;
	margin-top: 14px;
	margin-bottom: -4px;
	height: 251px;
	width: 351px;
	float: left;
}

#author-photo 
{
	padding-top: 6px;
	padding-left: 50px;
	float: left;
}

#author-photo img 
{
	border-radius: 50%;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	height: 52px;
	width: 52px;
}

#author-info
{
	padding-top: 11px;
	padding-left: 24px;
	float: left;
}

#author-info p
{
	color: #666666;
	font-size: 13px;
	font-style: italic;
}

#author-info a 
{
	font-size: 13px;
}

#rating 
{
	margin-top: 20px;
	margin-left: 50px;
}

.rating-stars
{
	color: orange;
	float: left;
}

.rating-count1
{
	float: left;
	margin-top: -2px;
	padding-left: 3px;
	font-size: 13px;
	color: grey;
}

.rating-count2
{
	float: left;
	padding-left: 5px;
	font-size: 13px;
	color: grey;
}

#clear-float1 
{
	clear: both;
}

.glyphicon-star
{
	font-size: 15px;
	padding-left: 4px;
}

.glyphicon-star-empty  
{
	color: grey;
	font-size: 15px;
	padding-left: 4px;
}

.half 
{
    position: relative;
}

.half:after 
{
    content: '';
    position: absolute;
    z-index: 1;
    background: #fafaf9;
    width: 61%;
    height: 100%;
    left: 61%;
}

#cookbook-adds
{
	padding-top: 17px;
	padding-left: 56px;
}

#cookbook-adds p 
{
	color: #e68a00;
	font-size: 14px;
	font-family: sans-serif;
}

.glyphicon-time 
{
	font-size: 14px;
	float: left;
}

#prep-time
{
	padding-top: 28px;
	padding-left: 56px;
	float: left;
}

#prep-time p
{
	font-size: 12px;
	padding-top: 1px;
	padding-left: 6px;
	color: #666666;
	float: left;
}

#cook-time
{
	padding-top: 28px;
	padding-left: 30px;
	float: left;
}

#cook-time p
{
	font-size: 12px;
	padding-top: 1px;
	padding-left: 6px;
	color: #666666;
	float: left;
}

#wait-time
{
	padding-top: 16px;
	padding-left: 56px;
	float: left;
}

#wait-time p
{
	font-size: 12px;
	padding-top: 1px;
	padding-left: 6px;
	color: #666666;
	float: left;
}

#servings
{
	padding-top: 16px;
	padding-left: 30px;
	float: left;
}

#cutlery
{
	margin-top: -0.5px;
	font-size: 14px;
	float: left;
}

#servings p
{
	color: #666666;
	font-size: 12px;
	padding-top: 1px;
	padding-left: 9px;
	float: left;
}

#bottom-header 
{
	margin-top: 20px;
	margin-bottom: 24px;
}

.btn-group
{
	margin-left: 40px;
}

#cookbook-button 
{
	height: 36px;
	width: 118px;
	font-size: 13px;
	color: #f2f2f2;
	padding-top: 6px;
	border-radius: 0px 0px 0px 6px;
}

#review-button 
{
	height: 36px;
	width: 122px;
	font-size: 13px;
	color: #f2f2f2;
	padding-top: 7px;
}

#share-button 
{
	height: 36px;
	width: 120px;
	font-size: 13px;
	color: #f2f2f2;
	padding-top: 8px;
}

#print-button 
{
	height: 36px;
	width: 120px;
	font-size: 13px;
	color: #f2f2f2;
	padding-top: 9px;
}

#fix-button 
{
	height: 36px;
	width: 118px;
	font-size: 13px;
	color: #f2f2f2;
	padding-top: 9px;
}

#report-button 
{
	height: 36px;
	width: 122px;
	font-size: 13px;
	color: #f2f2f2;
	padding-top: 9px;
	border-radius: 0px 0px 6px 0px;
}

.glyphicon-book
{
	padding-right: 7px;
	color: #f2f2f2;
}

.glyphicon-list-alt
{
	padding-right: 7px;
	color: #f2f2f2;
}

.glyphicon-share
{
	padding-right: 7px;
	color: #f2f2f2;
}

.glyphicon-print
{
	padding-right: 7px;
	color: #f2f2f2;
}

.glyphicon-wrench
{
	padding-right: 7px;
	color: #f2f2f2;
}

.glyphicon-alert
{
	padding-right: 7px;
	color: #f2f2f2;
}

#recipe-description 
{
	margin-top: 56px;
	margin-left: 41px;
	margin-right: 310px;
}

#description-title p 
{
	font-size: 14px;
	font-family: sans-serif;
	color: #e68a00;
}

#description-text 
{
	margin-top: 18px;
	background-color: #fafff9;
	width: 500px;
}

#description-text p 
{
	font-size: 13px;
	text-indent: 30px;
	color: #666666;
}

#recipe-ingredients
{
	margin-top: 36px;
	margin-left: 41px;
	margin-right: 300px;
}

#ingredients-title p 
{
	font-size: 14px;
	font-family: sans-serif;
	color: #e68a00;
	margin-bottom: 18px;
}

#ingredients-text 
{
	background-color: #fafff9;
	width: 500px;
}

.glyphicon-plus
{
	float: left;
	margin-top: -0.5px;
	padding-right: 8px;
	margin-bottom: 2px;
	font-size: 10px;
	color: #666666;
}

.ingredient 
{
	font-size: 12px;
	color: #666666;
	float: left;
}

#recipe-directions
{
	margin-top: 28px;
	margin-left: 41px;
}

#directions-title p 
{
	font-size: 14px;
	font-family: sans-serif;
	color: #e68a00;
	margin-bottom: 18px;
}

#directions-text p 
{
	font-size: 13px;
	color: #666666;
}

.step-area 
{
	float: left;
	background-color: #fafef9;
}

.direction-area 
{
	float: left;
	width: 489px;
	background-color: #fafff9;
}

.step 
{
	font-weight: bold;
	font-size: 13px;
}

.direction 
{
	padding-left: 9px;
}

#recipe-notes
{
	margin-top: 34px;
	margin-left: 41px;
	margin-right: 310px;
}

#notes-title p 
{
	font-size: 14px;
	font-family: sans-serif;
	color: #e68a00;
}

#notes-text 
{
	margin-top: 18px;
	background-color: #fafff9;
	width: 500px;
}

#notes-text p 
{
	font-size: 13px;
	text-indent: 30px;
	color: #666666;
}

#recipe-reviews
{
	margin-top: 58px;
	margin-left: 41px;
	margin-right: 310px;
	margin-bottom: 30px;
}

#reviews-title p 
{
	font-size: 14px;
	font-family: sans-serif;
	color: #e68a00;
}

#reviews-text 
{
	margin-top: 18px;
	background-color: #fafff9;
	width: 500px;
}

#reviews-text p 
{
	font-size: 13px;
	text-indent: 30px;
	color: #666666;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}
