/******************************************************************************************
*******************************************************************************************
** Name: registerGeneralError.css													   ****
** Purpose: Provides style sheet for "registerGeneralError.php"					   	   ****
** Author: Rhys Hall																   ****
** Date Created: 04/26/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#empty-error-speech-bubble
{
	height: 47px;
	width: 358px;
	margin-top: 43px;
	margin-left: 15px;
	float: left;
}

#empty-error-speech-text 
{
	position: absolute;
	padding-top: 70px;
	padding-left: 546px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
}

#confirm-error-speech-bubble
{
	height: 49px;
	width: 421px;
	margin-top: 41px;
	margin-left: 15px;
	float: left;
}

#confirm-error-speech-text 
{
	position: absolute;
	padding-top: 69px;
	padding-left: 544px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
}
