/******************************************************************************************
*******************************************************************************************
** Name: register.css																   ****
** Purpose: Provides style sheet for "register.php"					   				   ****
** Author: Rhys Hall																   ****
** Date Created: 04/26/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

body
{
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}

#margin-canvas1, #container, #margin-canvas2 
{
	display: table-cell;
	height: auto;
	overflow: hidden;
}

#margin-canvas1
{
	background-color: #99ccff;
	width: 284px;
}

#container
{
	background-color: #ffffff;
}

#chef-fish 
{
	margin-top: 42px;
	margin-left: 360px;
	height: 63px;
	width: 78.5px;
	float: left;
}

#speech-bubble
{
	height: 50px;
	width: 370px;
	margin-top: 43px;
	margin-left: 15px;
	float: left;
}

#speech-text 
{
	position: absolute;
	padding-top: 69px;
	padding-left: 548px;
	font-family: "Segoe UI Semibold";
	font-size: 15px;
	color: white;
}

#clear-float1
{
	clear: both;
}

#register-username 
{
	padding-top: 82px;
	padding-left: 445.5px;
	background-color: #ffffff;
}

#register-username-field 
{
	height: 36px;
	width: 300px;
	font-size: 15px;
	color: #808080;
	background-color: #f9f9f9;
}

#register-email 
{
	padding-top: 40px;
	padding-left: 445.5px;
	background-color: #ffffff;
}

#register-email-field
{
	height: 36px;
	width: 300px;
	font-size: 15px;
	color: #808080;
	background-color: #f9f9f9;
}

#register-password 
{
	padding-top: 45px;
	padding-left: 445.5px;
	background-color: #ffffff;
}

#register-password-field 
{
	height: 36px;
	width: 300px;
	font-size: 15px;
	color: #808080;
	background-color: #f9f9f9;
}

#register-password-confirmation 
{
	padding-top: 42px;
	padding-left: 445.5px;
	background-color: #ffffff;
}

#register-password-confirmation-field 
{
	height: 36px;
	width: 300px;
	font-size: 15px;
	color: #808080;
	background-color: #f9f9f9;
}

#register-gender
{
	padding-top: 32px;
	padding-left: 503px;
	background-color: #ffffff;
}

#register-gender h1
{
	float: left;
	font-size: 15px;
	color: #808080;
}

#register-gender input
{
	margin-top: 24px;
	float: left;
}

#register-gender h2
{
	float: left;
	font-size: 15px;
	padding-left: 68px;
	color: #808080;
}

#clear-float1
{
	clear: both;
}

#register-submit 
{
	padding-top: 54px;
	text-align: center;
	background-color: #ffffff;
}

#register-submit-button
{
	height: 34px;
	width: 180px;
	font-size: 15.5px;
	box-shadow: 1px 1px 2.5px #e65c00;
}

#footer
{
	background-color: #f9f9f9;
}

#margin-canvas2
{
	background-color: #99ccff;
	width: 284px;
}
