/******************************************************************************************
*******************************************************************************************
** Name: registerPasswordError.css													   ****
** Purpose: Provides style sheet for "registerPasswordError.php"					   ****
** Author: Rhys Hall																   ****
** Date Created: 04/30/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#password-length-message  #exclamation-mark 
{
	padding-right: 156px;
}

#password-length-message 
{
	padding-left: 373.25px;
	font-family: sans-serif;
	font-size: 18px;
	padding-bottom: 45px;
	margin-top: -45px;
}

#password-length-message p
{
	color: #ffffff;
	background-color: #ff3333;
	height: 35px;
	width: 680px;
	padding-left: 21px;
	padding-top: 5px;
	border-radius: 5px;
}

#password-symbols-message  #exclamation-mark 
{
	padding-right: 140px;
}

#password-symbols-message 
{
	padding-left: 373.25px;
	font-family: sans-serif;
	font-size: 18px;
	padding-bottom: 45px;
	margin-top: -45px;
}

#password-symbols-message p
{
	color: #ffffff;
	background-color: #ff3333;
	height: 35px;
	width: 680px;
	padding-left: 22px;
	padding-top: 5px;
	border-radius: 5px;
}
