/******************************************************************************************
*******************************************************************************************
** Name: registerEmailError.css													   	   ****
** Purpose: Provides style sheet for "registerEmailError.php"					       ****
** Author: Rhys Hall																   ****
** Date Created: 05/01/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#email-exists-speech-bubble
{
	height: 57px;
	width: 464px;
	margin-top: 58px;
	margin-left: 15px;
	float: left;
}

#email-exists-speech-text 
{
	position: absolute;
	padding-top: 90px;
	padding-left: 552px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
}