/******************************************************************************************
*******************************************************************************************
** Name: registerUsernameError.css													   ****
** Purpose: Provides style sheet for "registerUsernameError.php"					   ****
** Author: Rhys Hall																   ****
** Date Created: 05/01/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#username-invalid-speech-bubble
{
	height: 84px;
	width: 484px;
	margin-top: 39px;
	margin-left: 15px;
	float: left;
}

#username-invalid-speech-text1
{
	position: absolute;
	padding-top: 69px;
	padding-left: 554px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
}

#username-invalid-speech-text2
{
	position: absolute;
	padding-top: 91px;
	padding-left: 554px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
}

#username-exists-speech-bubble
{
	height: 55px;
	width: 430px;
	margin-top: 65px;
	margin-left: 15px;
	float: left;
}

#username-exists-speech-text 
{
	position: absolute;
	padding-top: 91px;
	padding-left: 550px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
}
