/******************************************************************************************
*******************************************************************************************
** Name: registerGeneralError.css													   ****
** Purpose: Provides style sheet for "registerGeneralError.php"					   	   ****
** Author: Rhys Hall																   ****
** Date Created: 04/26/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#empty-error-speech-bubble
{
	height: 53px;
	width: 372px;
	margin-top: 67px;
	margin-left: 15px;
	float: left;
}

#empty-error-speech-text 
{	
	position: absolute;
	padding-top: 92px;
	padding-left: 546px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
	
}

#confirm-error-speech-bubble
{
	height: 55px;
	width: 442px;
	margin-top: 65px;
	margin-left: 15px;
	float: left;
}

#confirm-error-speech-text 
{
	position: absolute;
	padding-top: 91px;
	padding-left: 548px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
}
