/******************************************************************************************
*******************************************************************************************
** Name: registerPasswordError.css													   ****
** Purpose: Provides style sheet for "registerPasswordError.php"					   ****
** Author: Rhys Hall																   ****
** Date Created: 04/30/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#password-length-speech-bubble
{
	height: 55px;
	width: 440px;
	margin-top: 65px;
	margin-left: 15px;
	float: left;
}

#password-length-speech-text 
{
	position: absolute;
	padding-top: 91px;
	padding-left: 552px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
}

#password-symbols-speech-bubble
{
	height: 53px;
	width: 380px;
	margin-top: 67px;
	margin-left: 15px;
	float: left;
}

#password-symbols-speech-text 
{
	position: absolute;
	padding-top: 92px;
	padding-left: 542px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
}
