/******************************************************************************************
*******************************************************************************************
** Name: registerPasswordError.css													   ****
** Purpose: Provides style sheet for "registerPasswordError.php"					   ****
** Author: Rhys Hall																   ****
** Date Created: 04/30/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#password-length-speech-bubble
{
	height: 53px;
	width: 412px;
	margin-top: 41px;
	margin-left: 15px;
	float: left;
}

#password-length-speech-text 
{
	position: absolute;
	padding-top: 70px;
	padding-left: 546px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
}

#password-symbols-speech-bubble
{
	height: 47px;
	width: 370px;
	margin-top: 41px;
	margin-left: 15px;
	float: left;
}

#password-symbols-speech-text 
{
	position: absolute;
	padding-top: 68px;
	padding-left: 544px;
	font-family: "Segoe UI Semibold";
	font-size: 14px;
	color: white;
}
