/******************************************************************************************
*******************************************************************************************
** Name: switchBasicInfoError.css													   ****
** Purpose: Provides style sheet for "switchBasicInfoError.php"					       ****
** Author: Rhys Hall																   ****
** Date Created: 11/02/2016														   	   ****
*******************************************************************************************
******************************************************************************************/

#invalid-username-message-1 #exclamation-mark 
{
	padding-right: 12px;
}

#invalid-username-message-1
{
	margin-top: 48px;
	margin-left: 135px;
	margin-right: 135px;
	font-family: sans-serif;
}

#invalid-username-message-2
{
	margin-top: -10px;
	margin-bottom: -81px;
	margin-left: 135px;
	margin-right: 135px;
	font-family: sans-serif;
	padding-bottom: 38px;
}

#invalid-username-message-p1
{
	color: #ffffff;
	background-color: #ff3333;
	padding-top: 5px;
	padding-left: 20px;
	border-radius: 5px 5px 0px 0px;
	font-size: 14px;
}

#invalid-username-message-p2
{
	color: #ffffff;
	background-color: #ff3333;
	padding-left: 47px;
	padding-bottom: 5px;
	border-radius: 0px 0px 5px 5px;
	font-size: 14px;
}

#existing-username-message #exclamation-mark 
{
	padding-right: 12px;
}

#existing-username-message 
{
	margin-top: 52px;
	margin-left: 162px;
	margin-right: 162px;
	margin-bottom: -44px;
	font-family: sans-serif;
}

#existing-username-message p 
{
	color: #ffffff;
	background-color: #3366ff;
	padding-top: 5px;
	padding-left: 20px;
	padding-bottom: 5px;
	border-radius: 5px 5px 5px 5px;
	font-size: 14px;
}

#existing-email-message #exclamation-mark 
{
	padding-right: 12px;
}

#existing-email-message 
{
	margin-top: 52px;
	margin-left: 182px;
	margin-right: 182px;
	margin-bottom: -44px;
	font-family: sans-serif;
}

#existing-email-message p
{
	color: #ffffff;
	background-color: #3366ff;
	padding-top: 5px;
	padding-left: 20px;
	padding-bottom: 5px;
	border-radius: 5px 5px 5px 5px;
	font-size: 14px;
}

#false-edit-message #exclamation-mark 
{
	padding-right: 12px;
}

#false-edit-message 
{
	margin-top: 52px;
	margin-left: 182px;
	margin-right: 182px;
	margin-bottom: -44px;
	font-family: sans-serif;
}

#false-edit-message p
{
	color: #ffffff;
	background-color: #3366ff;
	padding-top: 5px;
	padding-left: 20px;
	padding-bottom: 5px;
	border-radius: 5px 5px 5px 5px;
	font-size: 14px;
}
